@charset "IBM437";

@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

p {
  font-family: "Work Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

@media (max-width: 767px) {
  p {
    font-size: 20px;
  }
}

strong {
  font-family: 'work sans' !important;
  font-weight: bold !important;
}

.text_medium {
  font-family: 'work sang';
  font-size: 26px !important;
  color: #000;
}

.text_big_bold {
  font-size: 30px !important;
  margin: 0;
  font-family: "work sans";
  color: #000;
  line-height: 1.1;
  font-weight: 600;
}

@media (max-width: 767px) {
  .text_big_bold {
    padding-top: 30px;
  }
}

.text_body_normal {
  font-family: "Work Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 16px !important;
}

.online_hp_carousel {
  width: auto;
  max-width: 40vw;
  padding-left: 5%;
}

@media (max-width: 767px) {
  .online_hp_carousel {
    max-width: 100%;
    position: absolute;
    top: 53vh;
    text-align: center;
    padding: 0 5%;
  }
}

.online_hp_carousel p .image_online_happiness {
  margin-left: -8%;
}

.online_hp_carousel ul {
  list-style: none;
  margin: 0;
}

@media (max-width: 767px) {
  .online_hp_carousel ul {
    margin-left: 0 !important;
  }
}

.online_hp_carousel ul li {
  font-size: 24px;
  color: rgba(0,0,0,0.6);
  font-family: "work sans";
  padding-bottom: 15px;
  line-height: 1.2;
}

.online_hp_carousel ul li .online_hp_bold_reduce {
  font-size: 24px;
  font-family: "work sans";
  color: rgba(0,0,0,0.6);
  line-height: 1.1;
  font-weight: 600;
}

.online_hp_carousel .available_time {
  font-size: 22px;
  color: rgba(0,0,0,0.6);
  font-weight: 500;
  line-height: 1.3;
}

.online_hp_carousel .image-center-desktop {
  position: absolute;
  left: calc((100%/2) - (140px/2));
  top: -20px;
}

.online_hp_carousel .meditation_image {
  width: 350px;
  margin: 0;
}

.online_hp_carousel .meditation_image img {
  margin-left: -10%;
}

.unlock_your_potential ul {
  list-style-type: none;
}

.unlock_your_potential ul li .online_hp_bold {
  font-size: 40px;
  font-family: "work sans";
  color: rgba(0,0,0,0.6);
  line-height: 1.1;
  font-weight: 600;
}

.unlock_your_potential ul li .online_hp_line {
  font-size: 34px;
  font-family: "work sans";
  line-height: 1.2;
}

@media (max-width: 767px) {
  .unlock_your_potential ul li .online_hp_line {
    font-size: 30px;
  }
}

.unlock_your_potential ul li .online_hp_line_bold {
  font-weight: 500;
  font-size: 36px;
  font-family: "work sans";
  line-height: 1.2;
}

@media (max-width: 767px) {
  .unlock_your_potential ul li .online_hp_line_bold {
    font-size: 30px;
  }
}

.luckdown_unlock_yourself .div_html_component .online_hp_bold {
  padding: 15% 0 5%;
}

@media (max-width: 767px) {
  .luckdown_unlock_yourself .div_html_component .online_hp_bold {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .luckdown_unlock_yourself .div_html_component .html-component .online_hp_register {
    width: auto;
    max-width: 200px;
    padding: 10px 10px;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 30px;
  }
}

.hp_course_title_bold {
  font-size: 40px !important;
  font-family: "work sans";
  color: rgba(0,0,0,0.6);
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 5% !important;
}

@media (max-width: 767px) {
  .hp_course_title_bold {
    font-size: 24px !important;
    text-align: center;
  }
}

.online_kit.checkbox-hp p {
  margin-left: 20px;
}

.online_kit .icon_hp {
  display: -webkit-inline-box;
}

.online_kit .icon_hp img {
  margin-top: 5px;
  margin-right: 20px;
}

.online_kit p {
  font-family: "work sans";
  margin-bottom: 15px;
  margin-top: 5px;
  color: rgba(0,0,0,0.6);
  font-size: 20px;
  line-height: 1.8;
  font-weight: unset;
}

.online_kit p strong {
  font-weight: 500;
}

@media (max-width: 767px) {
  .online_kit p {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .online_kit_mob {
    width: auto;
    max-width: 90% !important;
    margin: 0 auto;
  }

  .online_kit_mob .online_hp_register {
    width: auto;
    max-width: 200px;
    padding: 10px 30px;
    font-size: 18px;
    display: inline-block;
  }

  .online_kit_mob .search_courses_filter_date_lang .search_bar_filter .time-selector .time-selector_text {
    width: auto !important;
  }

  .online_kit_mob .div_html_component .html-component .online_hp_bold_mobile {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .right_icon_text {
    padding: 0;
  }
}

.right_icon_text p .icon_hp {
  width: 12%;
  float: left;
}

@media (max-width: 767px) {
  .right_icon_text p .icon_hp {
    width: 15%;
  }
}

.right_icon_text p .icon_content {
  width: 85%;
}

@media (max-width: 767px) {
  .right_icon_text p .icon_content {
    width: 82%;
    padding-bottom: 10px;
  }
}

.right_icon_text p .icon_content strong {
  font-family: "work sans" !important;
}

.online_hp_bold,.html-component .online_hp_bold {
  font-size: 30px !important;
  font-family: "work sans";
  color: rgba(0,0,0,0.6) !important;
  line-height: 1.3;
  font-weight: 600;
}

@media (max-width: 767px) {
  .online_hp_bold,.html-component .online_hp_bold {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.bold_subtitle {
  font-family: "work sans";
  font-weight: bold;
  color: rgba(0,0,0,0.6);
}

.online_hp_register {
  background-color: #f18f0e;
  border-radius: 5px;
  font-family: "work sans";
  font-weight: 600;
  color: #fff;
  padding: 10px 0px;
  width: 250px;
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 5% !important;
}

@media (max-width: 767px) {
  .online_hp_register {
    width: auto;
  }
}

.online_hp_line {
  display: block;
}

.kit_sub_title {
  font-size: 21px;
  color: rgba(0,0,0,0.6);
}

.row-inner-wrapper .row-title-wrap h2.online_heading {
  font-family: "work sans";
  margin-bottom: 0px;
  font-weight: unset;
  font-size: 30px !important;
  color: rgba(0,0,0,0.6);
}

@media (max-width: 767px) {
  .row-inner-wrapper .row-title-wrap h2.online_heading {
    display: none;
  }
}

.online_heading_mob {
  font-family: "work sans" !important;
  margin-bottom: 0px !important;
  font-weight: unset;
  font-size: 28px !important;
}

@media (max-width: 767px) {
  .hp_online_events {
    margin-top: 0 !important;
  }
}

.hp_online_events .online_course_event {
  margin-bottom: 35px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: auto;
  max-width: 85%;
  padding: 30px 15px;
  border-radius: 5px;
  border: 2px solid #fff;
  background: linear-gradient(to right, #fed599 26%,#fed599 61%,#f28239 100%,#f17a30 100%);
}

@media (max-width: 767px) {
  .hp_online_events .online_course_event {
    max-width: 100%;
  }
}

.hp_online_events .online_course_event .hp_icon {
  float: left;
  padding-right: 15px;
  width: 20%;
}

@media (max-width: 767px) {
  .hp_online_events .online_course_event .hp_icon img {
    margin-top: 0px;
  }
}

.hp_online_events .online_course_event .online_course_wrap {
  display: inline-block;
  width: 78%;
}

.hp_online_events .online_course_event h3 {
  font-size: 22px;
  margin: 0px;
  color: rgba(0,0,0,0.6);
  font-family: "work sans";
  font-weight: 600;
  text-align: left;
  text-transform: initial;
}

@media (max-width: 767px) {
  .hp_online_events .online_course_event h3 {
    font-size: 20px;
  }
}

.hp_online_events .online_course_event p {
  font-family: "work sans";
  margin-bottom: 0px;
  margin: 0px;
  color: #000;
  font-size: 18px;
  line-height: 1.3;
  font-weight: unset;
}

@media (max-width: 767px) {
  .hp_online_events .online_course_event p {
    font-size: 16px;
  }
}

.row-inner-wrapper .row-title-wrap h3.hp_course_title .hp_course_title {
  font-family: "work sans";
  font-weight: bold;
  padding-bottom: 40px;
  font-size: 36px;
}

.div_SearchCoursesComponent .search_courses_filter_date_lang .search_bar_filter .date-label,.div_SearchCoursesComponent .search_courses_filter_date_lang .search_bar_filter .lang-label,.div_SearchCoursesComponent .search_courses_filter_date_lang .search_bar_filter .location-finder-label {
  font-family: "work sans";
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 767px) {
  .div_SearchCoursesComponent .search_courses_filter_date_lang .search_bar_filter .date-label,.div_SearchCoursesComponent .search_courses_filter_date_lang .search_bar_filter .lang-label,.div_SearchCoursesComponent .search_courses_filter_date_lang .search_bar_filter .location-finder-label {
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .mar-l-50 {
    margin-left: 0px;
  }

  .hp_course_title {
    padding: 20px 10px 20px;
  }

  .div_SearchCoursesComponent .search_courses_filter_date_lang .search_bar_filter {
    padding: 20px 30px;
  }

  .div_SearchCoursesComponent .search_courses_filter_date_lang .search_bar_filter .date-selector .sc_course_ux_sdate {
    margin-right: 0px;
  }

  .div_SearchCoursesComponent .search_courses_filter_date_lang .date-selector,.div_SearchCoursesComponent .search_courses_filter_date_lang .lang-container .language-selct_text {
    width: 100%;
    margin-bottom: 15px;
  }
}

.testimonial_sec {
  width: auto;
  max-width: 75vw;
  margin: 0 auto;
}

.testimonial_sec .row-title-wrap h3.online_hp_bold {
  font-size: 38px;
  font-family: "work sans";
  color: #000000ab;
  width: auto;
  max-width: 550px;
  margin: 0 auto 5%;
  text-align: center;
}

@media (max-width: 767px) {
  .testimonial_sec .row-title-wrap h3.online_hp_bold {
    font-size: 26px;
    width: 300px;
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .testimonial_sec .div_HalfCarouselComponent {
    margin-bottom: 10%;
  }
}

.testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel {
  max-width: 100%;
  margin-top: 70px !important;
}

.testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel .half-carousel-li {
  background: #fff;
  border-radius: 5px;
  padding: 40px 100px;
}

@media (max-width: 767px) {
  .testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel .half-carousel-li {
    padding: 40px 20px;
  }
}

.testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel .half-carousel-li p {
  font-family: "work sans";
  margin-bottom: 20px;
  margin-top: 8%;
  color: #00000094;
  font-size: 22px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel .half-carousel-li p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-top: 20%;
  }
}

.testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel .half-carousel-li:before {
  font-family: "";
  content: '\201C';
  position: absolute;
  top: 15%;
  left: 3%;
  font-size: 70px;
  line-height: 0.5;
  color: #fed699;
}

@media (max-width: 767px) {
  .testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel .half-carousel-li:before {
    top: 15%;
    left: 2%;
  }
}

.testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel .half-carousel-li:after {
  font-family: "";
  content: '\201C';
  position: absolute;
  right: 6%;
  bottom: 15%;
  transform: scaleX(-1);
  margin-top: 0;
  font-size: 70px;
  line-height: 0.5;
  color: #fed699;
}

@media (max-width: 767px) {
  .testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel .half-carousel-li:after {
    bottom: 5%;
    left: 8%;
  }
}

.testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel-prev {
  position: absolute;
  left: -5%;
  top: 35%;
  background-image: none;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border: solid black;
  border-radius: 5px;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 3px;
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel-prev {
    left: -10%;
  }
}

.testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel-next {
  position: absolute;
  right: -5%;
  top: 35%;
  background-image: none;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid black;
  border-radius: 5px;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 3px;
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .testimonial_sec .div_HalfCarouselComponent .half-carousel-component .half-carousel-next {
    right: -10%;
  }
}

@media (min-width: 1025px) {
  .flex-vertical-middle {
    display: flex;
    align-items: center;
  }
}

.stats-container .stats-item {
  width: 20%;
  float: left;
  text-align: center;
  padding: 0px 30px;
}

@media (max-width: 767px) {
  .stats-container .stats-item {
    width: 32%;
    padding: 0px 10px;
  }

  .stats-container .stats-item.mob_30 {
    margin-left: 20%;
    margin-bottom: 20%;
  }
}

.stats-container .stats-item p {
  font-size: 22px;
  line-height: 26px;
}

@media (max-width: 767px) {
  .stats-container .stats-item p {
    font-size: 18px;
    line-height: 23px;
    margin: 0;
  }
}

.about_art_of_liv_sec .div_html_component .html-component h2.row-title {
  font-family: "work sans";
}

.about_art_of_liv_sec .div_html_component .html-component .experience_text {
  width: auto;
  max-width: 55vw;
  margin: 0 auto;
}

#element-535295,#element-536064.div_HeaderComponent {
  display: none;
}

#admin-element-535510 .row-inner-wrapper {
  background-position: right !important;
}

#admin-element-536065 .row-inner-wrapper {
  background-position: right !important;
}

@media (max-width: 990px) and (min-width: 768px) {
  #admin-element-536065 .row-inner-wrapper {
    background-position: 74% !important;
  }

  #admin-element-535510 .row-inner-wrapper {
    background-position: 74% !important;
  }
}

@media (max-width: 767px) {
  #admin-element-536068 .picturefill-background {
    height: 400px !important;
  }
}

@media (max-width: 767px) {
  .div_html_component .html-component .online_hp_register_banner {
    width: auto;
    max-width: 200px;
    min-width: 160px;
    padding: 10px 30px;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    color: #f06822;
    background: #fff;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
  }
}

.how-it-works-sec {
  width: auto;
  max-width: 50vw !important;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .how-it-works-sec {
    max-width: 100vw !important;
    margin: 0 0 30px !important;
  }
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main {
  border: 2px solid #ecd6b5;
  background: #fff;
  border-radius: 15px;
  outline: none;
  position: relative;
  margin: 5% 0;
  height: auto;
  min-height: 200px;
}

@media (max-width: 767px) {
  .how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main {
    margin: 20% 0;
  }
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.img {
  position: absolute;
  top: calc((100%/2) - (90px /2));
}

@media (max-width: 767px) {
  .how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.img {
    top: -50px;
    left: calc((100%/2) - (10px/2));
  }
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.img img {
  max-width: 60%;
  margin: 0 0 0 -30%;
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont {
  display: inline-block;
  padding: 0% 8%;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont {
    padding: 5% 5% 5% 15%;
  }
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont ul {
  list-style-type: none;
  margin: 0;
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont ul li {
  color: rgba(0,0,0,0.6);
  font-family: "work sans";
  font-weight: 400;
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont ul li::before {
  content: '✓';
  padding: 0 10px 0 0;
  color: #ecd6b5;
  font-size: 15px;
  font-weight: bold;
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont .num {
  font-size: 45px;
  color: #ecd6b5;
  left: 20px;
  top: 5px;
  position: absolute;
  font-family: 'work sans';
}

@media (max-width: 767px) {
  .how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont .num {
    top: 50px;
  }
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont h1 {
  font-size: 22px;
  font-family: 'work sans';
  color: rgba(0,0,0,0.6);
  font-weight: 500;
  text-transform: lowercase;
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont h1 strong {
  padding: 0 5px 0 0;
  font-weight: bold;
}

@media (max-width: 767px) {
  .how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont h1 {
    text-align: center;
    padding: 0 20px;
  }
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main span.cont p {
  font-family: "Work Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: justify;
  color: rgba(0,0,0,0.6);
}

@media (max-width: 767px) {
  .how-it-works-sec .div_html_component .html-component .field-item .boxes .box-main:nth-child(3) {
    margin: 5% 0;
  }
}

.how-it-works-sec .div_html_component .html-component .field-item .boxes .online_hp_register {
  width: auto;
  max-width: 250px;
  margin: 0 auto;
}

.how-it-works-sec .div_html_component .html-component .field-item h2 {
  color: rgba(0,0,0,0.6);
  font-size: 30px;
  font-family: 'work sans';
  margin-bottom: 0px;
  margin-top: 25px;
  font-weight: 600;
}

.how-it-works-sec .div_html_component .html-component .field-item h3 {
  font-family: "work sans";
  margin-top: 25px;
  font-size: 20px;
  color: rgba(0,0,0,0.6);
  text-transform: inherit;
  line-height: 1.4;
  text-align: justify !important;
  margin-bottom: 55px;
}

.meditation_is_journey {
  width: auto;
  max-width: 60vw;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .meditation_is_journey {
    max-width: 100%;
  }
}

.meditation_is_journey .div_QuoteComponent .quote-component {
  padding-top: 0px;
}

@media (max-width: 767px) {
  .meditation_is_journey .div_QuoteComponent .quote-component {
    padding-top: 0px !important;
  }
}

.meditation_is_journey .div_QuoteComponent .quote-component .container {
  margin: 0;
  max-width: 100%;
}

@media (max-width: 767px) {
  .meditation_is_journey .div_QuoteComponent .quote-component .container {
    padding: 0px;
  }
}

.meditation_is_journey .div_QuoteComponent .quote-component .container p {
  padding: 0;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .meditation_is_journey .div_QuoteComponent .quote-component .container p {
    width: 100%;
  }
}

.meditation_is_journey .div_QuoteComponent .quote-component .container p .image {
  width: 25%;
  float: left;
}

@media (max-width: 767px) {
  .meditation_is_journey .div_QuoteComponent .quote-component .container p .image {
    width: 100%;
    float: none;
    display: block;
  }
}

@media (max-width: 767px) {
  .meditation_is_journey .div_QuoteComponent .quote-component .container p .image img {
    margin: 0;
  }
}

.meditation_is_journey .div_QuoteComponent .quote-component .container p .content_span {
  color: rgba(0,0,0,0.6);
  font-family: 'work sans';
  font-style: italic;
  font-size: 20px;
  text-align: justify;
  width: 70%;
  float: left;
  margin-left: 4%;
}

@media (max-width: 767px) {
  .meditation_is_journey .div_QuoteComponent .quote-component .container p .content_span {
    width: 100%;
    float: none;
    margin-left: 0;
    padding: 20% 15px 0;
  }
}

.meditation_is_journey .div_QuoteComponent .quote-component .container p .content_span::before {
  height: 100px;
  content: '';
  position: absolute;
  top: -5%;
  left: 50%;
  background: url(../../../../unity2/img/icon/quote_mark.png);
  width: 150px;
  transform: scale(0.4);
}

@media (max-width: 767px) {
  .meditation_is_journey .div_QuoteComponent .quote-component .container p .content_span::before {
    top: 34%;
    left: -4%;
  }
}

.meditation_is_journey .div_QuoteComponent .quote-component .container p .quote {
  max-width: 50px;
}

@media (max-width: 767px) {
  .meditation_is_journey .div_QuoteComponent .quote-component .container p .quote {
    position: absolute;
    left: 20px;
    top: 23vh;
  }
}

.meditation_is_journey .div_QuoteComponent .quote-component .container .content_span_head {
  color: rgba(0,0,0,0.6);
  font-family: 'work sans';
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  width: 70%;
  float: right;
  margin-left: 4%;
}

@media (max-width: 767px) {
  .meditation_is_journey .div_QuoteComponent .quote-component .container .content_span_head {
    margin-bottom: 15%;
    text-align: right !important;
    margin-right: 4% !important;
    margin-left: 4%;
  }
}

@media (max-width: 767px) {
  .three_box_sec {
    padding: 40px 0 20px !important;
  }
}

@media (min-width: 1024px) {
  .three_box_sec .div_html_component .html-component .field-item .left-sec p {
    line-height: 1.5;
    font-family: "Work Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
    margin-right: 5%;
    text-align: justify;
  }
}

@media (max-width: 767px) {
  .three_box_sec .div_html_component .html-component .field-item .left-sec p {
    padding: 0 20px;
    text-align: justify;
  }
}

@media (max-width: 767px) {
  #ui-datepicker-div {
    display: none;
  }
}

@media (max-width: 767px) {
  .div_html_component .research_result .research_result_right {
    width: 100%;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hapiness-powerful .div_html_component .html-component p img {
    margin: 0;
  }

  .hapiness-powerful .div_html_component .html-component .online_kit .online_hp_bold {
    font-size: 30px !important;
    font-family: "work sans";
    color: rgba(0,0,0,0.6) !important;
    line-height: 1.3;
    font-weight: 600;
  }

  .hapiness-powerful .div_html_component .html-component .online_kit .text_body_normal p {
    font-family: "work sans";
    margin-bottom: 15px;
    margin-top: 5px;
    color: rgba(0,0,0,0.6);
    font-size: 16px;
    line-height: 1.5;
    font-weight: unset;
    text-align: justify;
  }

  .hapiness-powerful .div_html_component .html-component .online_kit .text_body_normal p .online_hp_register {
    margin-top: 10%;
  }
}

@media (max-width: 767px) {
  #admin-element-536059 .row-inner-wrapper {
    height: 750px !important;
    background-size: contain !important;
    background-image: linear-gradient(to bottom, rgba(254,213,153,0) 50%,#fed599 61%,#f28239 100%,#f17a30 100%),url("https://unity.artofliving.org/sites/unity.artofliving.org/files/landing_pages/row_mobile/LP_HP_Online_MOBILE10-360.jpg") !important;
    background-color: #ffe3b3;
    position: relative;
  }
}

.iframe-section {
  margin-bottom: 40px !important;
}

.iframe-section .div_html_component {
  text-align: center;
}

@media (max-width: 767px) {
  .iframe-section .div_html_component .html-component .field-item .iframe-h1-introtalk {
    font-family: Montserrat;
    font-size: 36px !important;
    line-height: 40px;
    color: #008da3;
    font-style: normal;
    font-weight: bolder;
    padding-bottom: 20px;
    text-align: center;
    width: auto;
    max-width: 75vw;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .iframe-section .div_html_component .html-component .field-item p .mobile-iframe {
    width: auto;
    height: 170px;
    margin: 0 0 60px 0px;
  }
}

.iframe-section .div_html_component .html-component .field-item p img {
  width: auto;
  position: absolute;
  height: auto;
  left: 20%;
  bottom: -4%;
}

@media (max-width: 767px) {
  .iframe-section .div_html_component .html-component .field-item p img {
    transform: scale(0.7);
    left: 35%;
    bottom: -15%;
  }
}

@media (max-width: 767px) {
  .iframe-section .div_html_component .html-component .field-item p {
    text-align: center;
    width: auto;
    max-width: 100%;
  }

  .iframe-section .div_html_component .html-component .field-item p iframe {
    width: 100% !important;
    height: 250px !important;
  }
}

.what-you-will-learn .div_html_component .html-component .field-item p {
  color: rgba(0,0,0,0.6);
  font-weight: 600;
  font-size: 30px;
}

.what-you-will-learn .div_html_component .html-component .field-item ul {
  list-style-type: none;
  margin: 10px 0 10px 0px;
}

@media (max-width: 767px) {
  .what-you-will-learn .div_html_component .html-component .field-item ul {
    padding-bottom: 30px;
  }
}

.what-you-will-learn .div_html_component .html-component .field-item ul li {
  font-family: 'work sans';
  color: rgba(0,0,0,0.6);
}

.what-you-will-learn .div_html_component .html-component .field-item ul li strong {
  font-family: 'work sans' !important;
  font-weight: bold;
}

.what-you-will-learn .div_html_component .html-component .field-item ul li .tick_small {
  font-size: 12px;
  color: rgba(0,0,0,0.6);
  padding: 0px 5px 0 0;
}

.what-you-will-learn .div_html_component .html-component .field-item .second_text {
  font-size: 18px;
  font-weight: 400;
}

.get_start_today {
  width: auto;
  max-width: 50vw !important;
  float: left;
  margin: 0 10% 0 14%;
}

@media (max-width: 767px) {
  .get_start_today {
    max-width: 100% !important;
    margin: 0;
  }
}

.get_start_today .div_html_component .html-component .field-item .heading_black {
  font-size: 30px;
  font-weight: bold;
  font-family: 'work sans';
  margin: 0;
  line-height: 1;
}

@media (max-width: 767px) {
  .get_start_today .div_html_component .html-component .field-item .heading_black {
    text-align: center;
    padding-bottom: 10px;
  }
}

.get_start_today .div_html_component .html-component .field-item .heading_orange {
  font-size: 30px;
  color: #f18f0e;
  margin: 0;
  font-weight: 300;
}

@media (max-width: 767px) {
  .get_start_today .div_html_component .html-component .field-item .heading_orange {
    text-align: center;
    line-height: 1;
  }
}

.get_start_today .div_html_component .html-component .field-item .cont_left .small_text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #ffe4b3;
  font-family: 'work sans';
}

@media (max-width: 767px) {
  .get_start_today .div_html_component .html-component .field-item .cont_left .small_text {
    text-align: center;
    margin: 0 auto;
    border: none;
    width: 150px;
  }
}

.get_start_today .div_html_component .html-component .field-item .cont_left .inr_color {
  font-size: 26px;
  color: #f18f0e;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .get_start_today .div_html_component .html-component .field-item .cont_left .inr_color {
    text-align: center;
    font-size: 40px;
    color: #f06822;
    font-family: 'work sans';
    padding: 0;
    margin: 0 0 30px;
  }
}

.get_start_today .div_html_component .html-component .field-item .cont_left .button {
  text-align: left;
}

@media (max-width: 767px) {
  .get_start_today .div_html_component .html-component .field-item .cont_left .button {
    padding-bottom: 30px;
  }
}

.get_start_today .div_html_component .html-component .field-item .cont_right .color_orange {
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #ffe4b3;
  font-family: 'work sans';
}

.get_start_today .div_html_component .html-component .field-item .cont_right div {
  min-height: 50px;
}

@media (max-width: 767px) {
  .get_start_today .div_html_component .html-component .field-item .cont_right div {
    padding: 0 0 20px;
  }
}

.get_start_today .div_html_component .html-component .field-item .cont_right div .textt {
  display: inline-block;
  width: 85%;
  margin: 0;
}

@media (max-width: 767px) {
  .get_start_today .div_html_component .html-component .field-item .cont_right div .textt {
    width: 80%;
  }
}

.get_start_today .div_html_component .html-component .field-item .cont_right div .icon {
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  background: #f18f0e;
  padding: 6px 10px;
  float: left;
  margin-right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.img_3_center {
  width: auto;
  max-width: 80vw !important;
  margin: 0 auto;
}

.img_3_center .div_html_component .html-component .field-item .heading {
  text-align: center;
  font-size: 24px;
  color: rgba(0,0,0,0.7);
}

.img_3_center .div_html_component .html-component .field-item p {
  text-align: center;
  color: rgba(0,0,0,0.6);
}

.img_3_center .div_html_component .html-component .field-item p span.number {
  font-weight: bold;
  color: #f18f0e;
  font-size: 30px;
  line-height: 1;
  padding-right: 10px;
}

.img_3_center .div_html_component .html-component .field-item p img {
  max-width: 50%;
  text-align: center;
  height: 100px;
  width: auto;
}

@media (max-width: 767px) {
  .img_3_center .div_html_component .html-component .field-item p img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.img_3_center .div_html_component .html-component .field-item p .online_hp_register {
  margin: 0 auto;
}

.image_overlay .div_HalfCarouselComponent .half-carousel-component .half-carousel .half-carousel-li img.media-element {
  position: absolute;
  left: calc((100%/2) - (180px/2));
  top: -20%;
}

.about_guruji {
  width: auto;
  max-width: 60vw;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .about_guruji {
    max-width: 100vw;
  }
}

.about_guruji .div_html_component .html-component .field-item .main_heading {
  text-align: center;
  font-size: 24px;
  line-height: 1.4;
}

.about_guruji .div_html_component .html-component .field-item .main_div .left {
  display: inline-block;
  width: 60%;
  float: left;
}

.about_guruji .div_html_component .html-component .field-item .main_div .left p {
  color: #000;
  text-align: justify;
}

.about_guruji .div_html_component .html-component .field-item .main_div .right {
  display: inline-block;
  width: 30%;
  float: left;
}

@media (max-width: 767px) {
  .about_guruji .div_html_component .html-component .field-item .main_div .right {
    width: 100%;
  }

  .about_guruji .div_html_component .html-component .field-item .main_div .right p {
    text-align: center;
  }

  .about_guruji .div_html_component .html-component .field-item .main_div .right p img {
    margin: 0;
  }
}

.research_result_hp_page .row-title-wrap .mobile_reaseach {
  text-align: center;
  font-family: "work sans" !important;
  margin-bottom: 0px;
  font-size: 30px !important;
  color: rgba(0,0,0,0.6);
}

@media (max-width: 767px) {
  .research_result_hp_page .row-title-wrap .mobile_reaseach {
    margin-bottom: 0;
    text-transform: lowercase;
  }
}

.research_result_hp_page .row-sub-title-wrap .mobile_reaseach_below {
  color: rgba(0,0,0,0.6);
  font-family: "work sans" !important;
  color: rgba(0,0,0,0.6);
  font-size: 20px;
}
.research_result_hp_page .row-sub-title-wrap .mobile_reaseach_below:focus {
    color: orange;
    border: none;
}
@media (max-width: 767px) {
  .research_result_hp_page .row-sub-title-wrap .mobile_reaseach_below {
    margin-bottom: 5px;
  }
}

.online_kit_mob .hp_course_title_bold {
  font-size: 30px !important;
  margin-bottom: 3% !important;
}
